[submodule "libs/rofl-common"]
	path = libs/rofl-common
	url = https://github.com/bisdn/rofl-common.git
[submodule "libs/rofl-datapath"]
	path = libs/rofl-datapath
	url = https://github.com/bisdn/rofl-datapath.git
[submodule "libs/dpdk"]
	path = libs/dpdk
	url = https://github.com/bisdn/dpdk-dev.git
[submodule "libs/ofdpa"]
	path = libs/ofdpa
	url = https://github.com/Broadcom-Switch/of-dpa.git
